@import "_variables.scss";

body {
  background: url('assets/images/darkwood.jpg') no-repeat center center fixed $black;
  background-size: cover;
}

.main {
  background: url('assets/images/lorebook_md.png') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  background-color: $red;
}
