@import "./_variables.scss";
@import "./_mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Lateef');



body {
  background: url('assets/images/darkwood.jpg') no-repeat center center fixed $black;
  background-size: cover;
  font-family: 'Lateef', cursive;
  p {
    font-size: 1.5em;
  }
}

.stylizedText {
  font-family: 'Cinzel Decorative', cursive;
}


h1 {
  background-color: $red;
}
